.process {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
  &__title-block {
    text-align: center;
    &--title {
      color: #282b22;
      font-size: 24px;
      font-weight: 600;
      line-height: 132.4px;
      text-transform: uppercase;
    }
  }
  &__list {
    margin-top: 80px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -5%;
      width: 100%;
      height: 1px;
      margin-top: 30px;
      opacity: 0.2;
      background: #282b22;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 105%;
      width: 100%;
      height: 1px;
      margin-top: 30px;
      opacity: 0.2;
      background: #282b22;
    }
  }
  &__item {
    display: flex;
    align-items: start;
    justify-content: center;
    column-gap: 15px;
    text-align: left;
    margin-bottom: 60px;
    &--number {
      color: #282b22;
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
      opacity: 0.3;
    }
    &--title {
      color: #282b22;
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 10px;
    }
    &--text {
      max-width: 250px;
      color: #282b22;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.6px;
    }
  }
  &__item1 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 120%;
      width: 100%;
      height: 1px;
      margin-top: 30px;
      opacity: 0.2;
      background: #282b22;
    }
  }
}
@media screen and (min-width: 640px) {
  .process {
    &__item {
      justify-content: space-between;
      &--text {
        max-width: 300px;
      }
    }
  }
}
